@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

#main-bg {
  background: url("../imgs/malte-wingen-PDX_a_82obo-unsplash.jpg");
  background-size: cover;
}

#card-list {
  height: 500px;
}